.navbar {
    position: fixed; /* Fixé en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    padding: 10px 65px 10px 65px; /* Moins de padding pour plus de compacité */
    display: flex; /* Flexbox pour aligner logo et menu */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-between; /* Sépare logo et liens */


}
